.frame {
  background-color: transparent;
  background-image: url(sprite.jpg);
  background-repeat: no-repeat;
  width: 64px;
  height: 52px;
}
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -64px 0; }
.frame-2 { background-position: -128px 0; }
.frame-3 { background-position: -192px 0; }
.frame-4 { background-position: -256px 0; }
